<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{REQUEST_ID_KEY}] [%thread] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="ROOT" level="INFO">
    <appender-ref ref="STDOUT"/>
  </logger>

</configuration>
